@model FİNAL_PROJE.Models.ViewModel

@{
    Layout = "~/Views/Share/_LayoutPage1.cshtml";
}

<div id="anasayfa">

    <div>
        <table class="table table-hover table-dark table-sm">
            <thead>
                <tr>
                    <th class="col-md-1" scope="col">Gönderen</th>
                    <th class="col-md-1" scope="col">Konu</th>
                    <th class="col-md-1" scope="col">Tarih</th>
                    <th class="col-md-1" scope="col">Göster</th>
                    <th class="col-md-1" scope="col">Sil</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    @{ var i = 0; var k = 0; string j;}
                    @foreach (var a in Model.DuyuruListesi)

                    {
                        if (a.duyuruicerik == null && a.baslik == null)
                        {
                            <td colspan="3">Henüz Duyuru Yok</td>
                        }
                        else
                        {
                            if (a.ID_alinandersler == a.ogretmen.ID_ders && a.dersler.ogrencino.ToString() == User.Identity.Name)
                            {
                                <td>@(a.ogretmen.ad + " " + a.ogretmen.soyad)</td>

                                <td>@(a.baslik)</td>

                                <td>@(a.tarih)</td>

                                @*<td> <button type="button" data-toggle="tooltip" title="Göster" style="background-color:orange" class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="@(a.duyuruicerik)"><i class="fas fa-file-alt" style="font-size:20px"></i></button>  </td>*@
                                <td>
                                    <a style="background-color:orange"  class="btn btn-secondary" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="@(a.duyuruicerik)" title="@("Gönderen:"+a.ogretmen.ad+" "+a.ogretmen.soyad+" "+"Konu:"+a.baslik+"Ders:"+a.ogretmen.dersler.dersadi+" "+"E-posta:"+a.ogretmen.eposta)"><i class="fas fa-file-alt" style="font-size:20px;"></i></a>

                                </td>

                                <td>
                                    @Html.ActionLink("Sil", "Sil", "islem", new { DuyuruID = a.duyuru_ID }, new { @class = "btn btn-danger" })
                                </td>
                            }
                        }
                        if (i == 0)
                        {
                        @:</tr><tr>
                        }
                    }
                </tr>
            </tbody>
        </table>
    </div>

    



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
        var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
            return new bootstrap.Popover(popoverTriggerEl)
        })
    </script>

    <script type="text/javascript">
        $(function () {
            $('[data-toggle="tooltip"]').tooltip();
        });
    </script>
</div>