
@{
    Layout = "~/Views/Share/_LayoutAkademisyen.cshtml";
}

@model FİNAL_PROJE.Models.ViewModel

<div id="anasayfa">

    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th class="col-md-1" scope="col">Ders Kodu</th>
                <th class="col-md-1" scope="col">Ders Adı</th>
                <th class="col-md-1" scope="col">Kredi</th>
                <th class="col-md-1" scope="col">T+U</th>
                <th class="col-md-1" scope="col">AKTS</th>
                <th class="col-md-1" scope="col">Sınıf</th>
                <th class="col-md-1" scope="col">Öğretim Elemanı</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                @{ var i = 0; var j = 0;}

                @foreach (var a in Model.OgretmenListesi)
                {
                    if (User.Identity.Name == a.ogretmen_ID.ToString())
                    {
                        <td>@(a.ID_ders)</td>
                        <td>@(a.verdigidersadi)</td>
                        <td>@(a.dersler.kredi)</td>
                        <td>@(a.dersler.kredi + "+") @(j = a.dersler.akts - a.dersler.kredi)</td>
                        <td>@(a.dersler.akts)</td>
                        <td>@(a.dersler.ders_donemi)</td>
                        <td>@(a.ad + " " + a.soyad)</td>
                        if (i == 0)
                        {
                        @:</tr><tr>
                        }
                    }
                }

            </tr>
        </tbody>
    </table>


   






</div>